[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	branch = false
[sendemail]
	from =
	smtpServer =
	smtpUser =
	smtpEncryption =
[user]
	name = cesar
	useConfigOnly = true
[pull]
	rebase = false
[alias]
	ci = !git branch | fzf --height=30% --reverse | xargs git checkout
	ai = !git diff --name-only | fzf --height=30% --reverse | xargs git add
[push]
	autoSetupRemote = true
